# ==========================================================
# Python
# ==========================================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================================
# Entornos virtuales
# ==========================================================
.venv/
venv/
env/

# ==========================================================
# Variables de entorno / secretos
# ==========================================================
.env
.env.*
!.env.example
.yaml

# ==========================================================
# IDE / editores
# ==========================================================
.vscode/
.idea/
*.swp
*.swo

# ==========================================================
# Tests / cobertura
# ==========================================================
.pytest_cache/
.coverage
htmlcov/

# ==========================================================
# Logs
# ==========================================================
*.log

# ==========================================================
# Sistema operativo
# ==========================================================
.DS_Store
Thumbs.db